.users {
  margin: 2rem auto;
  max-width: 40rem;
}

.users ul {
  list-style: none;
  padding: 1rem;
  
}

.users li {
  border: 1px solid #ccc;
  margin: 0.5rem 0;
  padding: 0.5rem;
  animation: dropTop 0.3s linear;
}

@keyframes dropTop {
  0% {
    transform: translateY(-100%) scale(0);
    opacity: 0;
  }
  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}
